/* A
-----------------------------------------------------------------------------------------------------------*/

/* Vars */

/* bar */
@c-bar-border: 1px solid #b3b3b3;
@c-bar-background-color: #eee;
@c-bar-color: #3e3e3e;
@c-bar-shadow-x: 0;
@c-bar-shadow-y: 1px;
@c-bar-shadow-radius: 1px;
@c-bar-shadow-color: #fff;
@c-bar-background-start: #f0f0f0;
@c-bar-background-end: #ddd;
@c-bar-link-color: #7cc4e7;
@c-bar-link-visited: #2489ce;
@c-bar-link-hover: #2489ce;
@c-bar-link-active: #2489ce;

/* body */
@c-body-border: 1px solid #aaa;
@c-body-color: #333;
@c-body-shadow-x: 0;
@c-body-shadow-y: 1px;
@c-body-shadow-radius: 0;
@c-body-shadow-color: #fff;
@c-body-background-color: #f9f9f9;
@c-body-background-start: #f9f9f9;
@c-body-background-end: #eee;
@c-body-link-color: #2489ce;
@c-body-link-visited: #2489ce;
@c-body-link-hover: #2489ce;
@c-body-link-active: #2489ce;

/* btn-up */
@c-bup-border: 1px solid #ccc;
@c-bup-background-color: #eee;
@c-bup-color: #2f3e46;
@c-bup-shadow-x: 0;
@c-bup-shadow-y: 1px;
@c-bup-shadow-radius: 0;
@c-bup-shadow-color: #fff;
@c-bup-background-start: #fff;
@c-bup-background-end: #f1f1f1;

/* btn-hover */
@c-bhover-border: 1px solid #bbb;
@c-bhover-background-color: #dfdfdf;
@c-bhover-color: #2f3e46;
@c-bhover-shadow-x: 0;
@c-bhover-shadow-y: 1px;
@c-bhover-shadow-radius: 0;
@c-bhover-shadow-color: #fff;
@c-bhover-background-start: #f6f6f6;
@c-bhover-background-end: #e0e0e0;

/* btn-down */
@c-bdown-border: 1px solid #bbb;
@c-bdown-background-color: #d6d6d6;
@c-bdown-color: #2f3e46;
@c-bdown-shadow-x: 0;
@c-bdown-shadow-y: 1px;
@c-bdown-shadow-radius: 0;
@c-bdown-shadow-color: #fff;
@c-bdown-background-start: #d0d0d0;
@c-bdown-background-end: #dfdfdf;




/* Style */

.ui-bar-c {
	border: @a-bar-border;
	background: @a-bar-background-color;
	color: @a-bar-color;
	font-weight: bold;
	text-shadow: @a-bar-shadow-x @a-bar-shadow-y @a-bar-shadow-radius @a-bar-shadow-color;
	#jqm > .bg(@a-bar-background-start, @a-bar-background-end);
}
.ui-bar-c .ui-link-inherit {
	color: @a-bar-color;
}

.ui-bar-c a.ui-link {
	color: @a-bar-link-color;
	font-weight: bold;
}

.ui-bar-c a.ui-link:visited {
    color: @a-bar-link-visited;
}

.ui-bar-c a.ui-link:hover {
	color: @a-bar-link-hover;
}

.ui-bar-c a.ui-link:active {
	color: @a-bar-link-active;
}

.ui-bar-c,
.ui-bar-c input,
.ui-bar-c select,
.ui-bar-c textarea,
.ui-bar-c button {
	 font-family: @global-font-family;
}
.ui-body-c,
.ui-overlay-c {
	border: @a-body-border;
	color: @a-body-color;
	text-shadow: @a-body-shadow-x @a-body-shadow-y @a-body-shadow-radius @a-body-shadow-color;
	background: @a-body-background-color;
	#jqm > .bg(@a-body-background-start, @a-body-background-end);
}
.ui-overlay-c {
	background-image: none;
	border-width: 0;
}
.ui-body-c,
.ui-body-c input,
.ui-body-c select,
.ui-body-c textarea,
.ui-body-c button {
	 font-family: @global-font-family;
}
.ui-body-c .ui-link-inherit {
	color: @a-body-color;
}

.ui-body-c .ui-link {
	color: @a-body-link-color;
	font-weight: bold;
}

.ui-body-c .ui-link:visited {
    color: @a-body-link-visited;
}

.ui-body-c .ui-link:hover {
	color: @a-body-link-hover;
}

.ui-body-c .ui-link:active {
	color: @a-body-link-active;
}

.ui-btn-up-c {
	border: @a-bup-border;
	background: @a-bup-background-color;
	font-weight: bold;
	color: @a-bup-color;
	text-shadow: @a-bup-shadow-x @a-bup-shadow-y @a-bup-shadow-radius @a-bup-shadow-color;
	#jqm > .bg(@a-bup-background-start, a-bup-background-end);
}
.ui-btn-up-c:visited,
.ui-btn-up-c a.ui-link-inherit {
	color: @a-bup-color;
}
.ui-btn-hover-c {
	border: @a-bhover-border;
	background: @a-bhover-background-color;
	font-weight: bold;
	color: @a-bhover-color;
	text-shadow: @a-bhover-shadow-x @a-bhover-shadow-y @a-bhover-shadow-radius @a-bhover-shadow-color;
	#jqm > .bg(@a-bhover-background-start, @a-bhover-background-end);
}
.ui-btn-hover-c:visited,
.ui-btn-hover-c:hover,
.ui-btn-hover-c a.ui-link-inherit {
	color: @a-bhover-color;
}
.ui-btn-down-c {
	border: @a-bdown-border;
	background: @a-bdown-background-color;
	font-weight: bold;
	color: @a-bdown-color;
	text-shadow: @a-bdown-shadow-x @a-bdown-shadow-y @a-bdown-shadow-radius @a-bdown-shadow-color;
	#jqm > .bg(@a-bdown-background-start, @a-bdown-background-end);
}
.ui-btn-down-c:visited,
.ui-btn-down-c:hover,
.ui-btn-down-c a.ui-link-inherit {
	color: @a-bdown-color;
}
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c {
	font-family: @global-font-family;
	text-decoration: none;
}
