/* A
-----------------------------------------------------------------------------------------------------------*/

/* Vars */

/* bar */
@a-bar-border: 1px solid #f7c942;
@a-bar-background-color: #fadb4e;
@a-bar-color: #333;
@a-bar-shadow-x: 0;
@a-bar-shadow-y: 1px;
@a-bar-shadow-radius: 0;
@a-bar-shadow-color: #fff;
@a-bar-background-start: #fceda7;
@a-bar-background-end: #fbef7e;
@a-bar-link-color: #2489ce;
@a-bar-link-visited: #2489ce;
@a-bar-link-hover: #2489ce;
@a-bar-link-active: #2489ce;

/* body */
@a-body-border: 1px solid #f7c942;
@a-body-color: #222;
@a-body-shadow-x: 0;
@a-body-shadow-y: 1px;
@a-body-shadow-radius: 0;
@a-body-shadow-color: #fff;
@a-body-background-color: #fff9df;
@a-body-background-start: #fffadf;
@a-body-background-end: #fff3a5;
@a-body-link-color: #2489ce;
@a-body-link-visited: #2489ce;
@a-body-link-hover: #2489ce;
@a-body-link-active: #2489ce;

/* btn-up */
@a-bup-border: 1px solid #f4c63f;
@a-bup-background-color: #fadb4e;
@a-bup-color: #222;
@a-bup-shadow-x: 0;
@a-bup-shadow-y: 1px;
@a-bup-shadow-radius: 0;
@a-bup-shadow-color: #fff;
@a-bup-background-start: #ffefaa;
@a-bup-background-end: #ffe155;

/* btn-hover */
@a-bhover-border: 1px solid #f2c43d;
@a-bhover-background-color: #fbe26f;
@a-bhover-color: #333;
@a-bhover-shadow-x: 0;
@a-bhover-shadow-y: 1px;
@a-bhover-shadow-radius: 0;
@a-bhover-shadow-color: #fff;
@a-bhover-background-start: #fff5ba;
@a-bhover-background-end: #fbdd52;

/* btn-down */
@a-bdown-border: 1px solid #f2c43d;
@a-bdown-background-color: #fceda7;
@a-bdown-color: #333;
@a-bdown-shadow-x: 0;
@a-bdown-shadow-y: 1px;
@a-bdown-shadow-radius: 0;
@a-bdown-shadow-color: #fff;
@a-bdown-background-start: #f8d94c;
@a-bdown-background-end: #fadb4e;




/* Style */

.ui-bar-a {
	border: @a-bar-border;
	background: @a-bar-background-color;
	color: @a-bar-color;
	font-weight: bold;
	text-shadow: @a-bar-shadow-x @a-bar-shadow-y @a-bar-shadow-radius @a-bar-shadow-color;
	#jqm > .bg(@a-bar-background-start, @a-bar-background-end);
}
.ui-bar-a .ui-link-inherit {
	color: @a-bar-color;
}

.ui-bar-a a.ui-link {
	color: @a-bar-link-color;
	font-weight: bold;
	&:visited {
		color: @a-bar-link-visited;
	}
	&:hover {
		color: @a-bar-link-hover;
	}
	&:active {
		color: @a-bar-link-active;
	}
}

.ui-bar-a {
	font-family: @global-font-family;
	input, select, textarea, button {
		font-family: @global-font-family;
	}
}
.ui-body-a,
.ui-overlay-a {
	border: @a-body-border;
	color: @a-body-color;
	text-shadow: @a-body-shadow-x @a-body-shadow-y @a-body-shadow-radius @a-body-shadow-color;
	background: @a-body-background-color;
	#jqm > .bg(@a-body-background-start, @a-body-background-end);
}
.ui-overlay-a {
	background-image: none;
	border-width: 0;
}
.ui-body-a {
	font-family: @global-font-family;
	input, select, textarea, button {
		font-family: @global-font-family;
	}
}
.ui-body-a .ui-link-inherit {
	color: @a-body-color;
}

.ui-body-a .ui-link {
	color: @a-body-link-color;
	font-weight: bold;
	&:visited {
		color: @a-body-link-visited;
	}
	&:hover {
		color: @a-body-link-hover;
	}
	&:active {
		color: @a-body-link-active;
	}
}

.ui-btn-up-a {
	#jqm > .btn-attrs(@a-bup-background-color, @a-bup-border, @a-bup-color);
	text-shadow: @a-bup-shadow-x @a-bup-shadow-y @a-bup-shadow-radius @a-bup-shadow-color;
	#jqm > .bg(@a-bup-background-start, a-bup-background-end);
	&:visited, a.ui-link-inherit {
		color: @a-bup-color;
	}
}
.ui-btn-hover-a {
	#jqm > .btn-attrs(@a-bhover-background-color, @a-bhover-border, @a-bhover-color);
	text-shadow: @a-bhover-shadow-x @a-bhover-shadow-y @a-bhover-shadow-radius @a-bhover-shadow-color;
	#jqm > .bg(@a-bhover-background-start, @a-bhover-background-end);
	&:visited,&:hover,a.ui-link-inherit {
		color: @a-bhover-color;
	}
}
.ui-btn-down-a {
	#jqm > .btn-attrs(@a-bdown-background-color, @a-bdown-border, @a-bdown-color);
	text-shadow: @a-bdown-shadow-x @a-bdown-shadow-y @a-bdown-shadow-radius @a-bdown-shadow-color;
	#jqm > .bg(@a-bdown-background-start, @a-bdown-background-end);
	&:visited,&:hover,a.ui-link-inherit {
		color: @a-bdown-color;
	}
}
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a {
	font-family: @global-font-family;
	text-decoration: none;
}
