/* ideas stolen from LessHAT: http://lesshat.com/
-----------------------------------------------------------------------------------------------------------*/
/* Config supported browsers for your project */
/* Signals */
/* jQuery Mobile global variables
-----------------------------------------------------------------------------------------------------------*/
/* NOTE: this hex should match the active state color. It's repeated here for cascade */
/* Mixins */
/* jQuery Mobile namspace: jqm, http://lesscss.org/#-namespaces */
#jqm {
  /* bg */

  /* border-radius */

  /* background-size */

  /* box-size */

  /* btn-attrs */

}
/* A
-----------------------------------------------------------------------------------------------------------*/
/* Vars */
/* bar */
/* body */
/* btn-up */
/* btn-hover */
/* btn-down */
/* Style */
.ui-bar-a {
  border: 1px solid #333333;
  background: #111111;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 -1px 0 #000000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#111111));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(#3c3c3c, #111111);
  /* Chrome 10+, Saf5.1+ */

  background-image: -moz-linear-gradient(#3c3c3c, #111111);
  /* FF3.6 */

  background-image: -ms-linear-gradient(#3c3c3c, #111111);
  /* IE10 */

  background-image: -o-linear-gradient(#3c3c3c, #111111);
  /* Opera 11.10+ */

  background-image: linear-gradient(#3c3c3c, #111111);
}
.ui-bar-a .ui-link-inherit {
  color: #ffffff;
}
.ui-bar-a a.ui-link {
  color: #7cc4e7;
  font-weight: bold;
}
.ui-bar-a a.ui-link:visited {
  color: #2489ce;
}
.ui-bar-a a.ui-link:hover {
  color: #2489ce;
}
.ui-bar-a a.ui-link:active {
  color: #2489ce;
}
.ui-bar-a {
  font-family: Helvetica, Arial, sans-serif;
}
.ui-bar-a input,
.ui-bar-a select,
.ui-bar-a textarea,
.ui-bar-a button {
  font-family: Helvetica, Arial, sans-serif;
}
.ui-body-a,
.ui-overlay-a {
  border: 1px solid #444444;
  color: #ffffff;
  text-shadow: 0 1px 0 #111111;
  background: #222222;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#222222));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(#444444, #222222);
  /* Chrome 10+, Saf5.1+ */

  background-image: -moz-linear-gradient(#444444, #222222);
  /* FF3.6 */

  background-image: -ms-linear-gradient(#444444, #222222);
  /* IE10 */

  background-image: -o-linear-gradient(#444444, #222222);
  /* Opera 11.10+ */

  background-image: linear-gradient(#444444, #222222);
}
.ui-overlay-a {
  background-image: none;
  border-width: 0;
}
.ui-body-a {
  font-family: Helvetica, Arial, sans-serif;
}
.ui-body-a input,
.ui-body-a select,
.ui-body-a textarea,
.ui-body-a button {
  font-family: Helvetica, Arial, sans-serif;
}
.ui-body-a .ui-link-inherit {
  color: #ffffff;
}
.ui-body-a .ui-link {
  color: #2489ce;
  font-weight: bold;
}
.ui-body-a .ui-link:visited {
  color: #2489ce;
}
.ui-body-a .ui-link:hover {
  color: #2489ce;
}
.ui-body-a .ui-link:active {
  color: #2489ce;
}
.ui-btn-up-a {
  background: #333333;
  border: 1px solid #111111;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 1px 0 #111111;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#2d2d2d));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(#444444, #2d2d2d);
  /* Chrome 10+, Saf5.1+ */

  background-image: -moz-linear-gradient(#444444, #2d2d2d);
  /* FF3.6 */

  background-image: -ms-linear-gradient(#444444, #2d2d2d);
  /* IE10 */

  background-image: -o-linear-gradient(#444444, #2d2d2d);
  /* Opera 11.10+ */

  background-image: linear-gradient(#444444, #2d2d2d);
}
.ui-btn-up-a:visited,
.ui-btn-up-a a.ui-link-inherit {
  color: #ffffff;
}
.ui-btn-hover-a {
  background: #444444;
  border: 1px solid #000000;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 1px 0 #111111;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#383838));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(#555555, #383838);
  /* Chrome 10+, Saf5.1+ */

  background-image: -moz-linear-gradient(#555555, #383838);
  /* FF3.6 */

  background-image: -ms-linear-gradient(#555555, #383838);
  /* IE10 */

  background-image: -o-linear-gradient(#555555, #383838);
  /* Opera 11.10+ */

  background-image: linear-gradient(#555555, #383838);
}
.ui-btn-hover-a:visited,
.ui-btn-hover-a:hover,
.ui-btn-hover-a a.ui-link-inherit {
  color: #ffffff;
}
.ui-btn-down-a {
  background: #222222;
  border: 1px solid #000000;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 1px 0 #111111;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#202020), to(#2c2c2c));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(#202020, #2c2c2c);
  /* Chrome 10+, Saf5.1+ */

  background-image: -moz-linear-gradient(#202020, #2c2c2c);
  /* FF3.6 */

  background-image: -ms-linear-gradient(#202020, #2c2c2c);
  /* IE10 */

  background-image: -o-linear-gradient(#202020, #2c2c2c);
  /* Opera 11.10+ */

  background-image: linear-gradient(#202020, #2c2c2c);
}
.ui-btn-down-a:visited,
.ui-btn-down-a:hover,
.ui-btn-down-a a.ui-link-inherit {
  color: #ffffff;
}
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a {
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
}
/* B
-----------------------------------------------------------------------------------------------------------*/
/* Vars */
/* bar */
/* body */
/* btn-up */
/* btn-hover */
/* btn-down */
/* Style */
.ui-bar-b {
  border: 1px solid #456f9a;
  background: #5e87b0;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 1px 0 #3e6790;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6facd5), to(#497bae));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(#6facd5, #497bae);
  /* Chrome 10+, Saf5.1+ */

  background-image: -moz-linear-gradient(#6facd5, #497bae);
  /* FF3.6 */

  background-image: -ms-linear-gradient(#6facd5, #497bae);
  /* IE10 */

  background-image: -o-linear-gradient(#6facd5, #497bae);
  /* Opera 11.10+ */

  background-image: linear-gradient(#6facd5, #497bae);
}
.ui-bar-b .ui-link-inherit {
  color: #ffffff;
}
.ui-bar-b a.ui-link {
  color: #ddf0f8;
  font-weight: bold;
}
.ui-bar-b a.ui-link:visited {
  color: #ddf0f8;
}
.ui-bar-b a.ui-link:hover {
  color: #ddf0f8;
}
.ui-bar-b a.ui-link:active {
  color: #ddf0f8;
}
.ui-bar-b {
  font-family: Helvetica, Arial, sans-serif;
}
.ui-bar-b input,
.ui-bar-b select,
.ui-bar-b textarea,
.ui-bar-b button {
  font-family: Helvetica, Arial, sans-serif;
}
.ui-body-b,
.ui-overlay-b {
  border: 1px solid #999999;
  color: #333333;
  text-shadow: 0 1px 0 #ffffff;
  background: #f3f3f3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#cccccc));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(#dddddd, #cccccc);
  /* Chrome 10+, Saf5.1+ */

  background-image: -moz-linear-gradient(#dddddd, #cccccc);
  /* FF3.6 */

  background-image: -ms-linear-gradient(#dddddd, #cccccc);
  /* IE10 */

  background-image: -o-linear-gradient(#dddddd, #cccccc);
  /* Opera 11.10+ */

  background-image: linear-gradient(#dddddd, #cccccc);
}
.ui-overlay-b {
  background-image: none;
  border-width: 0;
}
.ui-body-b {
  font-family: Helvetica, Arial, sans-serif;
}
.ui-body-b input,
.ui-body-b select,
.ui-body-b textarea,
.ui-body-b button {
  font-family: Helvetica, Arial, sans-serif;
}
.ui-body-b .ui-link-inherit {
  color: #333333;
}
.ui-body-b .ui-link {
  color: #2489ce;
  font-weight: bold;
}
.ui-body-b .ui-link:visited {
  color: #2489ce;
}
.ui-body-b .ui-link:hover {
  color: #2489ce;
}
.ui-body-b .ui-link:active {
  color: #2489ce;
}
.ui-btn-up-b {
  background: #396b9e;
  border: 1px solid #044062;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 1px 0 #194b7e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5f9cc5), to(#396b9e));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(#5f9cc5, #396b9e);
  /* Chrome 10+, Saf5.1+ */

  background-image: -moz-linear-gradient(#5f9cc5, #396b9e);
  /* FF3.6 */

  background-image: -ms-linear-gradient(#5f9cc5, #396b9e);
  /* IE10 */

  background-image: -o-linear-gradient(#5f9cc5, #396b9e);
  /* Opera 11.10+ */

  background-image: linear-gradient(#5f9cc5, #396b9e);
}
.ui-btn-up-b:visited,
.ui-btn-up-b a.ui-link-inherit {
  color: #ffffff;
}
.ui-btn-hover-b {
  background: #4b88b6;
  border: 1px solid #00415e;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 1px 0 #194b7e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6facd5), to(#4272a4));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(#6facd5, #4272a4);
  /* Chrome 10+, Saf5.1+ */

  background-image: -moz-linear-gradient(#6facd5, #4272a4);
  /* FF3.6 */

  background-image: -ms-linear-gradient(#6facd5, #4272a4);
  /* IE10 */

  background-image: -o-linear-gradient(#6facd5, #4272a4);
  /* Opera 11.10+ */

  background-image: linear-gradient(#6facd5, #4272a4);
}
.ui-btn-hover-b:visited,
.ui-btn-hover-b:hover,
.ui-btn-hover-b a.ui-link-inherit {
  color: #ffffff;
}
.ui-btn-down-b {
  background: #4e89c5;
  border: 1px solid #225377;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 1px 0 #194b7e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#295b8e), to(#3e79b5));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(#295b8e, #3e79b5);
  /* Chrome 10+, Saf5.1+ */

  background-image: -moz-linear-gradient(#295b8e, #3e79b5);
  /* FF3.6 */

  background-image: -ms-linear-gradient(#295b8e, #3e79b5);
  /* IE10 */

  background-image: -o-linear-gradient(#295b8e, #3e79b5);
  /* Opera 11.10+ */

  background-image: linear-gradient(#295b8e, #3e79b5);
}
.ui-btn-down-b:visited,
.ui-btn-down-b:hover,
.ui-btn-down-b a.ui-link-inherit {
  color: #ffffff;
}
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b {
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
}
/* C
-----------------------------------------------------------------------------------------------------------*/
/* Vars */
/* bar */
/* body */
/* btn-up */
/* btn-hover */
/* btn-down */
/* Style */
.ui-bar-c {
  border: 1px solid #b3b3b3;
  background: #eeeeee;
  color: #3e3e3e;
  font-weight: bold;
  text-shadow: 0 1px 0 #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#dddddd));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(#f0f0f0, #dddddd);
  /* Chrome 10+, Saf5.1+ */

  background-image: -moz-linear-gradient(#f0f0f0, #dddddd);
  /* FF3.6 */

  background-image: -ms-linear-gradient(#f0f0f0, #dddddd);
  /* IE10 */

  background-image: -o-linear-gradient(#f0f0f0, #dddddd);
  /* Opera 11.10+ */

  background-image: linear-gradient(#f0f0f0, #dddddd);
}
.ui-bar-c .ui-link-inherit {
  color: #3e3e3e;
}
.ui-bar-c a.ui-link {
  color: #7cc4e7;
  font-weight: bold;
}
.ui-bar-c a.ui-link:visited {
  color: #2489ce;
}
.ui-bar-c a.ui-link:hover {
  color: #2489ce;
}
.ui-bar-c a.ui-link:active {
  color: #2489ce;
}
.ui-bar-c {
  font-family: Helvetica, Arial, sans-serif;
}
.ui-bar-c input,
.ui-bar-c select,
.ui-bar-c textarea,
.ui-bar-c button {
  font-family: Helvetica, Arial, sans-serif;
}
.ui-body-c,
.ui-overlay-c {
  border: 1px solid #aaaaaa;
  color: #333333;
  text-shadow: 0 1px 0 #ffffff;
  background: #f9f9f9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#eeeeee));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(#f9f9f9, #eeeeee);
  /* Chrome 10+, Saf5.1+ */

  background-image: -moz-linear-gradient(#f9f9f9, #eeeeee);
  /* FF3.6 */

  background-image: -ms-linear-gradient(#f9f9f9, #eeeeee);
  /* IE10 */

  background-image: -o-linear-gradient(#f9f9f9, #eeeeee);
  /* Opera 11.10+ */

  background-image: linear-gradient(#f9f9f9, #eeeeee);
}
.ui-overlay-c {
  background-image: none;
  border-width: 0;
}
.ui-body-c {
  font-family: Helvetica, Arial, sans-serif;
}
.ui-body-c input,
.ui-body-c select,
.ui-body-c textarea,
.ui-body-c button {
  font-family: Helvetica, Arial, sans-serif;
}
.ui-body-c .ui-link-inherit {
  color: #333333;
}
.ui-body-c .ui-link {
  color: #2489ce;
  font-weight: bold;
}
.ui-body-c .ui-link:visited {
  color: #2489ce;
}
.ui-body-c .ui-link:hover {
  color: #2489ce;
}
.ui-body-c .ui-link:active {
  color: #2489ce;
}
.ui-btn-up-c {
  background: #eeeeee;
  border: 1px solid #cccccc;
  color: #2f3e46;
  font-weight: bold;
  text-shadow: 0 1px 0 #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
  /* Chrome 10+, Saf5.1+ */

  background-image: -moz-linear-gradient(#ffffff, #f1f1f1);
  /* FF3.6 */

  background-image: -ms-linear-gradient(#ffffff, #f1f1f1);
  /* IE10 */

  background-image: -o-linear-gradient(#ffffff, #f1f1f1);
  /* Opera 11.10+ */

  background-image: linear-gradient(#ffffff, #f1f1f1);
}
.ui-btn-up-c:visited,
.ui-btn-up-c a.ui-link-inherit {
  color: #2f3e46;
}
.ui-btn-hover-c {
  background: #dfdfdf;
  border: 1px solid #bbbbbb;
  color: #2f3e46;
  font-weight: bold;
  text-shadow: 0 1px 0 #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e0e0e0));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(#f6f6f6, #e0e0e0);
  /* Chrome 10+, Saf5.1+ */

  background-image: -moz-linear-gradient(#f6f6f6, #e0e0e0);
  /* FF3.6 */

  background-image: -ms-linear-gradient(#f6f6f6, #e0e0e0);
  /* IE10 */

  background-image: -o-linear-gradient(#f6f6f6, #e0e0e0);
  /* Opera 11.10+ */

  background-image: linear-gradient(#f6f6f6, #e0e0e0);
}
.ui-btn-hover-c:visited,
.ui-btn-hover-c:hover,
.ui-btn-hover-c a.ui-link-inherit {
  color: #2f3e46;
}
.ui-btn-down-c {
  background: #d6d6d6;
  border: 1px solid #bbbbbb;
  color: #2f3e46;
  font-weight: bold;
  text-shadow: 0 1px 0 #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d0d0d0), to(#dfdfdf));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(#d0d0d0, #dfdfdf);
  /* Chrome 10+, Saf5.1+ */

  background-image: -moz-linear-gradient(#d0d0d0, #dfdfdf);
  /* FF3.6 */

  background-image: -ms-linear-gradient(#d0d0d0, #dfdfdf);
  /* IE10 */

  background-image: -o-linear-gradient(#d0d0d0, #dfdfdf);
  /* Opera 11.10+ */

  background-image: linear-gradient(#d0d0d0, #dfdfdf);
}
.ui-btn-down-c:visited,
.ui-btn-down-c:hover,
.ui-btn-down-c a.ui-link-inherit {
  color: #2f3e46;
}
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c {
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
}
/* D
-----------------------------------------------------------------------------------------------------------*/
/* Vars */
/* bar */
/* body */
/* btn-up */
/* btn-hover */
/* btn-down */
/* Style */
.ui-bar-d {
  border: 1px solid #bbbbbb;
  background: #bbbbbb;
  color: #333333;
  font-weight: bold;
  text-shadow: 0 1px 0 #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#bbbbbb));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(#dddddd, #bbbbbb);
  /* Chrome 10+, Saf5.1+ */

  background-image: -moz-linear-gradient(#dddddd, #bbbbbb);
  /* FF3.6 */

  background-image: -ms-linear-gradient(#dddddd, #bbbbbb);
  /* IE10 */

  background-image: -o-linear-gradient(#dddddd, #bbbbbb);
  /* Opera 11.10+ */

  background-image: linear-gradient(#dddddd, #bbbbbb);
}
.ui-bar-d .ui-link-inherit {
  color: #333333;
}
.ui-bar-d a.ui-link {
  color: #2489ce;
  font-weight: bold;
}
.ui-bar-d a.ui-link:visited {
  color: #2489ce;
}
.ui-bar-d a.ui-link:hover {
  color: #2489ce;
}
.ui-bar-d a.ui-link:active {
  color: #2489ce;
}
.ui-bar-d {
  font-family: Helvetica, Arial, sans-serif;
}
.ui-bar-d input,
.ui-bar-d select,
.ui-bar-d textarea,
.ui-bar-d button {
  font-family: Helvetica, Arial, sans-serif;
}
.ui-body-d,
.ui-overlay-d {
  border: 1px solid #bbbbbb;
  color: #333333;
  text-shadow: 0 1px 0 #ffffff;
  background: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(#ffffff, #ffffff);
  /* Chrome 10+, Saf5.1+ */

  background-image: -moz-linear-gradient(#ffffff, #ffffff);
  /* FF3.6 */

  background-image: -ms-linear-gradient(#ffffff, #ffffff);
  /* IE10 */

  background-image: -o-linear-gradient(#ffffff, #ffffff);
  /* Opera 11.10+ */

  background-image: linear-gradient(#ffffff, #ffffff);
}
.ui-overlay-d {
  background-image: none;
  border-width: 0;
}
.ui-body-d {
  font-family: Helvetica, Arial, sans-serif;
}
.ui-body-d input,
.ui-body-d select,
.ui-body-d textarea,
.ui-body-d button {
  font-family: Helvetica, Arial, sans-serif;
}
.ui-body-d .ui-link-inherit {
  color: #333333;
}
.ui-body-d .ui-link {
  color: #2489ce;
  font-weight: bold;
}
.ui-body-d .ui-link:visited {
  color: #2489ce;
}
.ui-body-d .ui-link:hover {
  color: #2489ce;
}
.ui-body-d .ui-link:active {
  color: #2489ce;
}
.ui-btn-up-d {
  background: #ffffff;
  border: 1px solid #bbbbbb;
  color: #333333;
  font-weight: bold;
  text-shadow: 0 1px 0 #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#f6f6f6));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(#fafafa, #f6f6f6);
  /* Chrome 10+, Saf5.1+ */

  background-image: -moz-linear-gradient(#fafafa, #f6f6f6);
  /* FF3.6 */

  background-image: -ms-linear-gradient(#fafafa, #f6f6f6);
  /* IE10 */

  background-image: -o-linear-gradient(#fafafa, #f6f6f6);
  /* Opera 11.10+ */

  background-image: linear-gradient(#fafafa, #f6f6f6);
}
.ui-btn-up-d:visited,
.ui-btn-up-d a.ui-link-inherit {
  color: #333333;
}
.ui-btn-hover-d {
  background: #eeeeee;
  border: 1px solid #aaaaaa;
  color: #333333;
  font-weight: bold;
  text-shadow: 0 1px 0 #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#ffffff));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(#eeeeee, #ffffff);
  /* Chrome 10+, Saf5.1+ */

  background-image: -moz-linear-gradient(#eeeeee, #ffffff);
  /* FF3.6 */

  background-image: -ms-linear-gradient(#eeeeee, #ffffff);
  /* IE10 */

  background-image: -o-linear-gradient(#eeeeee, #ffffff);
  /* Opera 11.10+ */

  background-image: linear-gradient(#eeeeee, #ffffff);
}
.ui-btn-hover-d:visited,
.ui-btn-hover-d:hover,
.ui-btn-hover-d a.ui-link-inherit {
  color: #333333;
}
.ui-btn-down-d {
  background: #eeeeee;
  border: 1px solid #aaaaaa;
  color: #333333;
  font-weight: bold;
  text-shadow: 0 1px 0 #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#f2f2f2));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(#e5e5e5, #f2f2f2);
  /* Chrome 10+, Saf5.1+ */

  background-image: -moz-linear-gradient(#e5e5e5, #f2f2f2);
  /* FF3.6 */

  background-image: -ms-linear-gradient(#e5e5e5, #f2f2f2);
  /* IE10 */

  background-image: -o-linear-gradient(#e5e5e5, #f2f2f2);
  /* Opera 11.10+ */

  background-image: linear-gradient(#e5e5e5, #f2f2f2);
}
.ui-btn-down-d:visited,
.ui-btn-down-d:hover,
.ui-btn-down-d a.ui-link-inherit {
  color: #333333;
}
.ui-btn-up-d,
.ui-btn-hover-d,
.ui-btn-down-d {
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
}
/* E
-----------------------------------------------------------------------------------------------------------*/
/* Vars */
/* bar */
/* body */
/* btn-up */
/* btn-hover */
/* btn-down */
/* Style */
.ui-bar-e {
  border: 1px solid #f7c942;
  background: #fadb4e;
  color: #333333;
  font-weight: bold;
  text-shadow: 0 1px 0 #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fceda7), to(#fbef7e));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(#fceda7, #fbef7e);
  /* Chrome 10+, Saf5.1+ */

  background-image: -moz-linear-gradient(#fceda7, #fbef7e);
  /* FF3.6 */

  background-image: -ms-linear-gradient(#fceda7, #fbef7e);
  /* IE10 */

  background-image: -o-linear-gradient(#fceda7, #fbef7e);
  /* Opera 11.10+ */

  background-image: linear-gradient(#fceda7, #fbef7e);
}
.ui-bar-e .ui-link-inherit {
  color: #333333;
}
.ui-bar-e a.ui-link {
  color: #2489ce;
  font-weight: bold;
}
.ui-bar-e a.ui-link:visited {
  color: #2489ce;
}
.ui-bar-e a.ui-link:hover {
  color: #2489ce;
}
.ui-bar-e a.ui-link:active {
  color: #2489ce;
}
.ui-bar-e {
  font-family: Helvetica, Arial, sans-serif;
}
.ui-bar-e input,
.ui-bar-e select,
.ui-bar-e textarea,
.ui-bar-e button {
  font-family: Helvetica, Arial, sans-serif;
}
.ui-body-e,
.ui-overlay-e {
  border: 1px solid #f7c942;
  color: #222222;
  text-shadow: 0 1px 0 #ffffff;
  background: #fff9df;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fffadf), to(#fff3a5));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(#fffadf, #fff3a5);
  /* Chrome 10+, Saf5.1+ */

  background-image: -moz-linear-gradient(#fffadf, #fff3a5);
  /* FF3.6 */

  background-image: -ms-linear-gradient(#fffadf, #fff3a5);
  /* IE10 */

  background-image: -o-linear-gradient(#fffadf, #fff3a5);
  /* Opera 11.10+ */

  background-image: linear-gradient(#fffadf, #fff3a5);
}
.ui-overlay-e {
  background-image: none;
  border-width: 0;
}
.ui-body-e {
  font-family: Helvetica, Arial, sans-serif;
}
.ui-body-e input,
.ui-body-e select,
.ui-body-e textarea,
.ui-body-e button {
  font-family: Helvetica, Arial, sans-serif;
}
.ui-body-e .ui-link-inherit {
  color: #222222;
}
.ui-body-e .ui-link {
  color: #2489ce;
  font-weight: bold;
}
.ui-body-e .ui-link:visited {
  color: #2489ce;
}
.ui-body-e .ui-link:hover {
  color: #2489ce;
}
.ui-body-e .ui-link:active {
  color: #2489ce;
}
.ui-btn-up-e {
  background: #fadb4e;
  border: 1px solid #f4c63f;
  color: #222222;
  font-weight: bold;
  text-shadow: 0 1px 0 #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffefaa), to(#ffe155));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(#ffefaa, #ffe155);
  /* Chrome 10+, Saf5.1+ */

  background-image: -moz-linear-gradient(#ffefaa, #ffe155);
  /* FF3.6 */

  background-image: -ms-linear-gradient(#ffefaa, #ffe155);
  /* IE10 */

  background-image: -o-linear-gradient(#ffefaa, #ffe155);
  /* Opera 11.10+ */

  background-image: linear-gradient(#ffefaa, #ffe155);
}
.ui-btn-up-e:visited,
.ui-btn-up-e a.ui-link-inherit {
  color: #222222;
}
.ui-btn-hover-e {
  background: #fbe26f;
  border: 1px solid #f2c43d;
  color: #333333;
  font-weight: bold;
  text-shadow: 0 1px 0 #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff5ba), to(#fbdd52));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(#fff5ba, #fbdd52);
  /* Chrome 10+, Saf5.1+ */

  background-image: -moz-linear-gradient(#fff5ba, #fbdd52);
  /* FF3.6 */

  background-image: -ms-linear-gradient(#fff5ba, #fbdd52);
  /* IE10 */

  background-image: -o-linear-gradient(#fff5ba, #fbdd52);
  /* Opera 11.10+ */

  background-image: linear-gradient(#fff5ba, #fbdd52);
}
.ui-btn-hover-e:visited,
.ui-btn-hover-e:hover,
.ui-btn-hover-e a.ui-link-inherit {
  color: #333333;
}
.ui-btn-down-e {
  background: #fceda7;
  border: 1px solid #f2c43d;
  color: #333333;
  font-weight: bold;
  text-shadow: 0 1px 0 #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8d94c), to(#fadb4e));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(#f8d94c, #fadb4e);
  /* Chrome 10+, Saf5.1+ */

  background-image: -moz-linear-gradient(#f8d94c, #fadb4e);
  /* FF3.6 */

  background-image: -ms-linear-gradient(#f8d94c, #fadb4e);
  /* IE10 */

  background-image: -o-linear-gradient(#f8d94c, #fadb4e);
  /* Opera 11.10+ */

  background-image: linear-gradient(#f8d94c, #fadb4e);
}
.ui-btn-down-e:visited,
.ui-btn-down-e:hover,
.ui-btn-down-e a.ui-link-inherit {
  color: #333333;
}
.ui-btn-up-e,
.ui-btn-hover-e,
.ui-btn-down-e {
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
}
/* Structure */
/* links within "buttons" 
-----------------------------------------------------------------------------------------------------------*/
a.ui-link-inherit {
  text-decoration: none !important;
}
/* Active class used as the "on" state across all themes
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-active {
  border: 1px solid #2373a5;
  background: #387bbe;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  text-shadow: 0 1px 0 #3373a5;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  /* Chrome 10+, Saf5.1+ */

  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  /* FF3.6 */

  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  /* IE10 */

  background-image: -o-linear-gradient(#5393c5, #6facd5);
  /* Opera 11.10+ */

  background-image: linear-gradient(#5393c5, #6facd5);
  font-family: Helvetica, Arial, sans-serif;
}
.ui-btn-active:visited,
.ui-btn-active:hover,
.ui-btn-active a.ui-link-inherit {
  color: #ffffff;
}
/* button inner top highlight
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-inner {
  border-top: 1px solid 	#fff;
  border-color: rgba(255, 255, 255, 0.3);
}
/* corner rounding classes
-----------------------------------------------------------------------------------------------------------*/
.ui-corner-all {
  -webkit-border-radius: 0.6em;
  border-radius: 0.6em;
}
/* Form field separator
-----------------------------------------------------------------------------------------------------------*/
.ui-br {
  border-color: #828282;
  border-color: rgba(130, 130, 130, 0.3);
  border-style: solid;
}
/* Interaction cues
-----------------------------------------------------------------------------------------------------------*/
.ui-disabled {
  filter: alpha(opacity=30);
  opacity: .3;
  zoom: 1;
}
.ui-disabled,
.ui-disabled a {
  cursor: default !important;
  pointer-events: none;
}
/* Icons
-----------------------------------------------------------------------------------------------------------*/
.ui-icon,
.ui-icon-searchfield:after {
  background: #666666;
  background: rgba(0, 0, 0, 0.4);
  background-image: url(images/icons-18-white.png);
  background-repeat: no-repeat;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}
/* Alt icon color
-----------------------------------------------------------------------------------------------------------*/
.ui-icon-alt .ui-icon,
.ui-icon-alt .ui-icon-searchfield:after {
  background: #ffffff;
  background: rgba(255, 255, 255, 0.3);
  background-image: url(images/icons-18-black.png);
  background-repeat: no-repeat;
}
/* No disc
-----------------------------------------------------------------------------------------------------------*/
.ui-icon-nodisc .ui-icon,
.ui-icon-nodisc .ui-icon-searchfield:after,
.ui-icon-nodisc .ui-icon-alt .ui-icon,
.ui-icon-nodisc .ui-icon-alt .ui-icon-searchfield:after {
  background-color: transparent;
}
/* Icon sprite
-----------------------------------------------------------------------------------------------------------*/
/* plus minus */
.ui-icon-plus {
  background-position: -1px -1px;
}
.ui-icon-minus {
  background-position: -37px -1px;
}
/* delete/close */
.ui-icon-delete {
  background-position: -73px -1px;
}
/* arrows */
.ui-icon-arrow-r {
  background-position: -108px -1px;
}
.ui-icon-arrow-l {
  background-position: -144px -1px;
}
.ui-icon-arrow-u {
  background-position: -180px -1px;
}
.ui-icon-arrow-d {
  background-position: -216px -1px;
}
/* misc */
.ui-icon-check {
  background-position: -252px -1px;
}
.ui-icon-gear {
  background-position: -288px -1px;
}
.ui-icon-refresh {
  background-position: -323px -1px;
}
.ui-icon-forward {
  background-position: -360px -1px;
}
.ui-icon-back {
  background-position: -396px -1px;
}
.ui-icon-grid {
  background-position: -432px -1px;
}
.ui-icon-star {
  background-position: -467px -1px;
}
.ui-icon-alert {
  background-position: -503px -1px;
}
.ui-icon-info {
  background-position: -539px -1px;
}
.ui-icon-home {
  background-position: -575px -1px;
}
/* search */
.ui-icon-search,
.ui-icon-searchfield:after {
  background-position: -611px -1px;
}
/* checkbox radio */
.ui-icon-checkbox-on {
  background-position: -647px -1px;
}
.ui-icon-checkbox-off {
  background-position: -683px -1px;
}
.ui-icon-radio-on {
  background-position: -718px -1px;
}
.ui-icon-radio-off {
  background-position: -754px -1px;
}
/* menu edit */
.ui-icon-bars {
  background-position: -788px -1px;
}
.ui-icon-edit {
  background-position: -824px -1px;
}
/* HD/"retina" sprite
-----------------------------------------------------------------------------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (min-resolution: 200dpi) {
  .ui-icon-plus,
  .ui-icon-minus,
  .ui-icon-delete,
  .ui-icon-arrow-r,
  .ui-icon-arrow-l,
  .ui-icon-arrow-u,
  .ui-icon-arrow-d,
  .ui-icon-check,
  .ui-icon-gear,
  .ui-icon-refresh,
  .ui-icon-forward,
  .ui-icon-back,
  .ui-icon-grid,
  .ui-icon-star,
  .ui-icon-alert,
  .ui-icon-info,
  .ui-icon-home,
  .ui-icon-search,
  .ui-icon-searchfield:after,
  .ui-icon-checkbox-off,
  .ui-icon-checkbox-on,
  .ui-icon-radio-off,
  .ui-icon-radio-on {
    background-image: url(images/icons-36-white.png);
    -webkit-background-size: 864px 18px;
    -moz-background-size: 864px 18px;
    -o-background-size: 864px 18px;
    background-size: 864px 18px;
  }
  .ui-icon-alt .ui-icon {
    background-image: url(images/icons-36-black.png);
  }
  .ui-icon-plus {
    background-position: 0 50%;
  }
  .ui-icon-minus {
    background-position: -36px 50%;
  }
  .ui-icon-delete {
    background-position: -72px 50%;
  }
  .ui-icon-arrow-r {
    background-position: -108px 50%;
  }
  .ui-icon-arrow-l {
    background-position: -144px 50%;
  }
  .ui-icon-arrow-u {
    background-position: -179px 50%;
  }
  .ui-icon-arrow-d {
    background-position: -215px 50%;
  }
  .ui-icon-check {
    background-position: -252px 50%;
  }
  .ui-icon-gear {
    background-position: -287px 50%;
  }
  .ui-icon-refresh {
    background-position: -323px 50%;
  }
  .ui-icon-forward {
    background-position: -360px 50%;
  }
  .ui-icon-back {
    background-position: -395px 50%;
  }
  .ui-icon-grid {
    background-position: -431px 50%;
  }
  .ui-icon-star {
    background-position: -467px 50%;
  }
  .ui-icon-alert {
    background-position: -503px 50%;
  }
  .ui-icon-info {
    background-position: -538px 50%;
  }
  .ui-icon-home {
    background-position: -575px 50%;
  }
  .ui-icon-search,
  .ui-icon-searchfield:after {
    background-position: -611px 50%;
  }
  .ui-icon-checkbox-on {
    background-position: -647px 50%;
  }
  .ui-icon-checkbox-off {
    background-position: -683px 50%;
  }
  .ui-icon-radio-on {
    background-position: -718px 50%;
  }
  .ui-icon-radio-off {
    background-position: -754px 50%;
  }
  .ui-icon-bars {
    background-position: -788px 50%;
  }
  .ui-icon-edit {
    background-position: -824px 50%;
  }
}
/* checks,radios */
.ui-checkbox .ui-icon,
.ui-selectmenu-list .ui-icon {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.ui-icon-checkbox-off,
.ui-icon-radio-off {
  background-color: transparent;
}
.ui-checkbox-on .ui-icon,
.ui-radio-on .ui-icon {
  background-color: #387bbe;
  /* NOTE: this hex should match the active state color. It's repeated here for cascade */

}
/* loading icon */
.ui-icon-loading {
  background: url(images/ajax-loader.gif);
  background-size: 46px 46px;
}
/* Button corner classes
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-corner-all {
  -webkit-border-radius: 1em;
  border-radius: 1em;
}
/* radius clip workaround for cleaning up corner trapping */
.ui-corner-all,
.ui-btn-corner-all {
  -webkit-background-clip: padding;
  background-clip: padding-box;
}
/* Overlay / modal
-----------------------------------------------------------------------------------------------------------*/
.ui-overlay {
  background: #666;
  filter: alpha(opacity=50);
  opacity: .5;
  position: absolute;
  width: 100%;
  height: 100%;
}
.ui-overlay-shadow {
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
}
.ui-shadow {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.ui-bar-a .ui-shadow,
.ui-bar-b .ui-shadow,
.ui-bar-c .ui-shadow {
  -webkit-box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.3);
}
.ui-shadow-inset {
  -webkit-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.2);
}
.ui-icon-shadow {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
/* Focus state - set here for specificity (note: these classes are added by JavaScript)
-----------------------------------------------------------------------------------------------------------*/
.ui-btn:focus,
.ui-link-inherit:focus {
  outline: 0;
}
.ui-btn.ui-focus {
  z-index: 1;
}
.ui-focus,
.ui-btn:focus {
  -webkit-box-shadow: inset 0px 0px 3px #387bbe, 0px 0px 9px #387bbe;
  -moz-box-shadow: inset 0px 0px 3px #387bbe, 0px 0px 9px #387bbe;
  box-shadow: inset 0px 0px 3px #387bbe, 0px 0px 9px #387bbe;
}
.ui-input-text.ui-focus,
.ui-input-search.ui-focus {
  -webkit-box-shadow: 0px 0px 12px #387bbe;
  -moz-box-shadow: 0px 0px 12px #387bbe;
  box-shadow: 0px 0px 12px #387bbe;
}
/* unset box shadow in browsers that don't do it right
-----------------------------------------------------------------------------------------------------------*/
.ui-mobile-nosupport-boxshadow * {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
/* ...and bring back focus */
.ui-mobile-nosupport-boxshadow .ui-focus,
.ui-mobile-nosupport-boxshadow .ui-btn:focus,
.ui-mobile-nosupport-boxshadow .ui-link-inherit:focus {
  outline-width: 1px;
  outline-style: auto;
}
